@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.cdnfonts.com/css/mervale-script');


@import url('https://fonts.cdnfonts.com/css/dm-sans');

.foo{
    font-family: 'Poppins', sans-serif;
    font-style: bold;
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 36px;
    text-align: left;
    margin: 0px 100px;
    letter-spacing: 0.1px;
    color: #171725;
}
.img_box {
    width: 440px;
    margin-left: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.uss{
    width: 440px;
    height: 517px;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
}

.dayss{
     /* font-family: 'Poppins', sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0.1px;
    color: #171725;
    z-index: 11;
    margin-top: 380px;
    margin-left: 20px ; */
    display: none;
}   


*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    /* background-color: #ffffff; */
    width: 350px;
    height: 390px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 30%;
    top: 50%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
.image-container{
    position: relative;
}

img{
    position: relative;
    width: 300px;
    height: 330px;
    display: none;
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
    border-radius: 16px;
}

.active{
    display: block;
}
/* .dot-container{
    width: 250px;
    margin: 20px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button{
    outline: none;
    cursor: pointer;
}

.dot-container button{
    height: 15px;
    width: 5    0px;
    border-radius: 10%;
    border: 3px solid #076bb8;
    background-color: transparent;
}

.dot-container button:nth-child(1){
    background-color: #076bb8;
} */
#prev,#next{
    height: 40px;
    width: 40px;
    position: absolute;
    background-color: #9E0707;
    color: #ffffff;
    margin: auto;
    top: 0;
    bottom: 0;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    font-weight: bolder;
}

#prev{
    left: 5px;
}

#next{
    right: 5px;
}

@media screen and (max-width:960px){
    .foo{
        font-style: italic;
        font-weight: 700;
        margin: 10px 46px;
        font-size: 28px;
     
    }
    .uss{
        width: 160px;
        height: 217px;
        margin-top: 8px;
        margin-left: 50px;
    }
    .dayss{
            font-family: 'Poppins', sans-serif;
           font-style: italic;
           font-weight: 800;
           font-size: 24px;
           line-height: 36px;

           margin-top: 380px;
           margin-left: 20px ;
    }   
    .container{
        width: 220px;
        height: 250px;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        padding: 10px;
    }
    img{
        width: 200px;
        height: 230px;
    }
    
    .active{
        display: block;
    }
    #prev{
        left: 1px;
    }
    #prev,#next{
        height: 30px;
        width: 30px;
        color: #ffffff;
        margin: auto;
        top: 0;
        bottom: 0;
    }
    
    #next{
        right: 1px;
    }

  
  

}