.header_flex {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    padding-left: 0;
}

.header_top_logo {
    width: 105px;
    height: 109px;
}

.header_side1 {
    display: flex;
}

.header_mark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.cdnfonts.com/css/mervale-script');


@import url('https://fonts.cdnfonts.com/css/dm-sans');


.header_items {
    text-decoration: none;
    color: black;
    text-transform: lowercase;
}

.header_items.active {
    border-bottom: 1px solid #CE1212;
    width: 80%;

}

.header_sub {
    margin-top: 20px;
    cursor: pointer;
    text-decoration: underline;
}

.subscribe {
    /* width: 80%; */
    /* height: 10%; */
    background-color: #9E0707;
    /* display: none;
    position: absolute;
    left: 270px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 6px;
    margin-left: 40px;
}

.formed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #a82020;
    margin-top: 10px;
    margin-left: 20px;
    height: 100%;
    border-radius: 28px;

}

.sub_form {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    height: 40px;
}

.icon {
    color: white;
    font-size: 1.5rem;
    margin-left: 14px;
    border-radius: 20px;
}


.sub_form button {
    border: none;
    outline: none;
    background-color: black;
    color: white;
    width: 120px;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: 999px;
    cursor: pointer;
    margin-left: 220px;
}

.fill {
    width: 80%;
    margin: 10px;
    margin-left: 18px;
    height: 20px;
    border: none;
    outline: none;
    background-color: transparent;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: white;

}

.click {
    width: 100%;
    height: 50px;
    background: #000000;
    border-radius: 28px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    margin-left: 90px
}

.footer {
    display: none;
}

@media screen and (max-width:960px) {
    .header_top_logo {
        width: 85px;
        height: 85px;
    }


}

@media screen and (max-width:767px) {
    .header_sub {
        display: none;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr;
        background-color: #9E0707;
        position: absolute;
        top: 200px;
        margin: 12px 7px;
        border-radius: 12px;
        display: grid;
        grid-template-columns: 2fr 3fr;
        gap: 20px;
        place-items: center;
        place-items: start;
        padding: 10px 10px;
    }

    .footer input {
        width: 60px;
    }

    .footer h1 {
        font-size: 1.0em;
        color: #fff;
    }

    .sub_form {
        background-color: #ffffff36;
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 30px;
        height: 40px;
    }

    .footer input {
        border: none;
        outline: none;
        background-color: transparent;
        width: 58px;
    }

    .sub_form button {
        border: none;
        outline: none;
        background-color: black;
        color: white;
        width: 80px;
        height: 100%;
        display: grid;
        place-items: center;
        border-radius: 999px;
    }
}