@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 @import url('https://fonts.cdnfonts.com/css/mervale-script');


@import url('https://fonts.cdnfonts.com/css/dm-sans');

                

                

.main {
    padding: 2px 50px;
}

.vex {
    margin-top: 20px;
    font-family: 'Poppins';
}

.main_content {
    font-family: 'Poppins' ;
    margin: 20px auto;
    padding: 5px 50px;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.to_right {
    font-family: 'Mervale Script';
    text-align: end;
    position: relative;
}

.fa-star {
    position: absolute;
    top: -15px;
    right: -5px;
    color: red;
}

.mission_footer {
    background-color: #9E0707;
    border-radius: 12px;
    padding: 14px 47px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 20px;
    place-items: center;
}

.mission_footer h1 {
    font-size: 1.5em;
    color: #fff;
}

.sub_form {
    background-color:#ffffff36;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 30px;
    height: 40px;
}

.mission_footer input {
    border: none;
    outline: none;
    background-color: transparent;
    width: 250px;
}

.sub_form button{
    border: none;
    outline: none;
    background-color: black;
    color: white;
    width: 120px;
    height: 100%;
    display: grid;
    place-items: center;
    border-radius: 999px;
}
@media screen and (max-width:960px){
    .main {
        padding: 2px 20px;
    }

    .vex {
        margin-top: 6px;
    }
    .main_content {
        margin: 10px auto;
        padding: 5px 9px;
        display: flex;
        flex-direction: column;
        gap: 28px;
    }

}
@media screen and (max-width:767px){
    .mission_footer {
        display: grid;
        grid-template-columns: 1fr;
        place-items: start;
        padding: 10px 20px;
    }

    .mission_footer input {        
        width: 60px;
    }
}

