@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import url('https://fonts.cdnfonts.com/css/mervale-script');


@import url('https://fonts.cdnfonts.com/css/dm-sans');



.dum{
    display: flex;
    
}
.down{
width: 529px;
height: 748px;
margin-left: 100px;
background: url(DC9A40AF-0D1B-4D1F-80AC-357BBD45683B_1_201_a.jpg);
filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
border-radius: 18px;
}

.das{
width: 269px;
height: 36px;
font-family: 'Poppins';
font-style: italic;
font-weight: 800;
font-size: 48px;
line-height: 36px;
letter-spacing: 0.1px;
color: #171725;
margin-left:40px ;
}
.daf{
height: 578px;
margin: 10px;
padding: 20px 20px;
/* font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px; */
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 20px;
line-height: 30px;
color:  #636472;
}
.view{
    margin-left: 30px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 36px;
   
    letter-spacing: 0.1px;
    text-decoration-line: underline;
    color: #171725;
    display: block;
}
.png{
    width: 32.45px;
    height: 36.52px;
    margin-top: 50px;
    margin-left: 25px;

}
.png1{
    width: 32.45px;
    height: 36.52px;
    margin-top: 50px;
    margin-left: 25px;
}
.png2{
    width: 32.45px;
    height: 36.52px;
    margin-top: 50px;
    margin-left: 25px;

}
.png3{
    width: 32.45px;
    height: 36.52px;
    margin-top: 50px;
    margin-left: 25px;
}
.png4{
    width: 32.45px;
    height: 36.52px;
    margin-top: 50px;
    margin-left: 25px;
}
.png5{
    width: 32.45px;
    height: 36.52px;
    margin-top: 50px;
    margin-left: 25px;
}
.png6{
    width: 32.45px;
    height: 36.52px;
    margin-top: 50px;
    margin-left: 25px;
}
.png:hover{
    color:white;
    animation-name: bounce;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.png1:hover{
    color:white;
    animation-name: bounce;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.png2:hover{
    color:white;
    animation-name: bounce;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.png3:hover{
    color:white;
    animation-name: bounce;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.png4:hover{
    color:white;
    animation-name: bounce;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.boss{
    padding: 50px;
}
.png5:hover{
    color:white;
    animation-name: bounce;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}
.png6:hover{
    color:white;
    animation-name: bounce;
    animation-duration: .8s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-play-state: running;
}


@keyframes bounce{
70% {
    transform:translateY(0%);
    padding-bottom: 7px;
}
80% {
  transform:translateY(-15%);
}
90% {
  transform:translateY(0%);
  padding-bottom: 8px;
}
95% {
  transform:translateY(-7%);
}
97% {
  transform:translateY(0%);
  padding-bottom: 9px;
}
99% {
  transform:translateY(-3%);
}
100% {
  transform:translateY(0);
  padding-bottom: 9px;
  opacity: 1;
}
}
.dar{
    display: flex;
}
.music{
    width: 252.19px;
    height: 34.13px;
    font-family: 'Poppins';
    font-style: italic;
    font-weight: 700;
    font-size: 48px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #D8DDE7;
    margin: 300px;
}

.dem{
    width: 529px;
    height: 630px;
    margin-left: 110px;
    margin-top: 50px;
    background: url(000001-2.png);
    filter: drop-shadow(0px 4px 14px rgba(0, 0, 0, 0.25));
    border-radius: 18px;
}
@media screen and (max-width:767px){
    .dum{
        flex-direction: column;
        
    }
    .down{
        width: 229px;
        height: 308px;
        margin-left: 30px;
        margin-top: 20px;
        }

    .das{
            font-size: 38px;
            color: #171725;
            margin-left:40px;
            margin-top: 20px;
            }
    .daf{
                margin: 10px 5px;
                padding: 10px 10px;
                font-weight: 300;
                font-size: 18px;
                line-height: 30px;
                color: #636472;
                }
    .view{
                    margin-left: 15px;
                    margin-top: 480px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 36px;
                   
                    letter-spacing: 0.1px;
                    text-decoration-line: underline;
                    color: #171725;
                    display: block;
                }
                .png{
                    width: 32.45px;
                    height: 36.52px;
                    margin-top: 19px;
                    margin-left: 15px;
                
                }
                .png1{
                    width: 32.45px;
                    height: 36.52px;
                    margin-top: 19px;
                    margin-left: 15px;
                }
                .png2{
                    width: 32.45px;
                    height: 36.52px;
                    margin-top: 19px;
                    margin-left: 15px;
                
                }
                .png3{
                    width: 32.45px;
                    height: 36.52px;
                    margin-top: 19px;
                    margin-left: 15px;
                }
                .png4{
                    width: 32.45px;
                    height: 36.52px;
                    margin-top: 19px;
                    margin-left: 15px;
                }
                .png5{
                    width: 32.45px;
                    height: 36.52px;
                    margin-top: 19px;
                    margin-left: 15px;
                }
                .png6{
                    width: 32.45px;
                    height: 36.52px;
                    margin-top: 19px;
                    margin-left: 15px;
                }
                .dar{
                    flex-direction: column;
                }
                .dem{
                    width: 229px;
                    height: 308px;
                    margin-left: 30px;
                    margin-top: 25px;
                }
                .music{
                    font-weight: 700;
                    font-size: 48px;
                    margin-left: 20px;
                    margin-top: 50px;
                }
}